html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media (max-width: $mobile) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $rubik;
  line-height: 1.6;
  font-size: $body-copy;
  font-weight: 400;
  background-color: #ffffff;
  color: $grayish-blue;

  @media (max-width: $mobile-width) {
    font-size: 1.7rem;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5rem;

  @media (max-width: $mobile-width) {
    padding: 0 3rem;
  }
}

.tf-y-4 {
  transform: translateY(4rem);
}

.tf-y-8 {
  transform: translateY(8rem);
}

@keyframes tab {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showAnswer {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
