/*************************************
COLOR
*************************************/

// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

/*************************************
TYPOGRAPHY
*************************************/

// Body Copy
$body-copy: 1.8rem;

// Fonts
$rubik: "Rubik", sans-serif;

/*************************************
BOX SHADOWS
*************************************/
$btn-hover-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

/*************************************
LAYOUT
*************************************/
$mobile: 23.4375em;
$desktop: 90em;

/*************************************
BREAKPOINTS
*************************************/
$laptop-width: 75em;
$mobile-width: 48em;
