.btn {
  font-weight: 500;
  color: #ffffff;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;

  &__login {
    background-color: $soft-red;
    color: #ffffff;
    padding: 1.2rem 3.2rem;
    border-color: $soft-red;

    &:hover {
      background-color: #ffffff;
      box-shadow: $btn-hover-shadow;
    }
  }

  &--blue,
  &--grey {
    font-size: 1.4rem;
    padding: 1.3rem 2.2rem;
  }

  &--blue {
    background-color: $soft-blue;
    margin-right: 1.5rem;
    border-color: $soft-blue;

    &:hover {
      background-color: #ffffff;
      color: $soft-blue;
      box-shadow: $btn-hover-shadow;
    }
  }

  &__download {
    font-size: 1.4rem;
    margin-right: 0;
    padding: 1.3rem 3.4rem;
  }

  &--grey {
    background-color: lighten($grayish-blue, 35%);
    color: lighten($very-dark-blue, 15%);
    border-color: lighten($grayish-blue, 35%);
    box-shadow: $btn-hover-shadow;

    &:hover {
      background-color: #ffffff;
      border-color: lighten($very-dark-blue, 15%);
    }
  }
}
