.cta {
  display: flex;
  align-items: center;
  max-width: 120rem;
  margin: 10rem auto;

  @media (max-width: $mobile-width) {
    flex-direction: column;

    .container {
      order: 1;
      margin-top: 8rem;
    }

    &__content {
      text-align: center;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1.1rem;
    width: 60rem;
    height: 32rem;
    background-color: $soft-blue;
    border-radius: 0 0 0 30rem;
    z-index: -1;

    @media (max-width: $mobile-width) {
      top: 25rem;
      width: 40rem;
      height: 28rem;
      border-radius: 0 0 0 20rem;
    }
  }

  &__header {
    color: $very-dark-blue;
    font-size: 4.6rem;
    font-weight: 500;
    line-height: 1.1;

    @media (max-width: $mobile-width) {
      font-size: 3.2rem;
      line-height: 1.4;
    }
  }

  &__text {
    margin: 2.5rem 0 4rem;

    @media (max-width: $mobile-width) {
      margin: 2rem 0 5rem;
    }
  }

  &__details {
    display: flex;
    align-items: center;

    & img {
      transform: translateX(3rem);

      @media (max-width: $mobile-width) {
        width: 100%;
        transform: translateX(0);
      }
    }
  }
}
