.features {
  position: relative;
  margin-bottom: 12rem;
  padding-bottom: 8rem;

  @media (max-width: $mobile-width) {
    margin-top: 20rem;
    padding-bottom: 0;
  }

  &__bg {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.1rem;
    width: 60rem;
    height: 35rem;
    background-color: $soft-blue;
    border-radius: 0 25rem 30rem 0;
    z-index: -1;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &__header {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: $mobile-width) {
      max-width: 100%;
    }
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 500;
    color: $very-dark-blue;
    margin-bottom: 1.5rem;

    @media (max-width: $mobile-width) {
      font-size: 2.6rem;
    }
  }

  &__text {
    margin-bottom: 6rem;
  }

  &__indicators {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    margin: 0 auto 8rem;
    border-bottom: 0.1rem solid #eeeeee;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      max-width: 100%;
      margin-bottom: 6;
      border-bottom: 0;
    }
  }

  &__indicator {
    color: darken($grayish-blue, 15%);
    position: relative;
    padding: 0 4rem 2.5rem;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    @media (max-width: $mobile-width) {
      padding: 2rem;
      text-align: center;
      border-bottom: 0.1rem solid $grayish-blue;

      &:first-child {
        border-top: 0.1rem solid $grayish-blue;
      }
    }

    &--active {
      color: $very-dark-blue;

      &::after {
        content: "";
        position: absolute;
        background-color: $soft-red;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 0.3rem;

        @media (max-width: $mobile-width) {
          width: 32%;
        }
      }
    }

    &:hover {
      color: $soft-red;
    }
  }

  &__tab {
    display: none;

    &--active {
      display: block;
      animation: tab 0.6s ease-in-out;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: center;

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
    }
  }

  &__details {
    @media (max-width: $mobile-width) {
      img {
        width: 100%;
      }
    }
    &-tab-2,
    &-tab-3 {
      margin-left: 8rem;

      @media (max-width: $mobile-width) {
        margin-left: 0;
      }
    }
  }

  &__cta {
    padding: 5rem 0;

    @media (max-width: $mobile-width) {
      margin-top: 6rem;
      padding: 0;
      text-align: center;
    }
    &-heading {
      font-size: 3.2rem;
      font-weight: 500;
      color: $very-dark-blue;

      @media (max-width: $mobile-width) {
        font-size: 2.6rem;
      }
    }

    &-text {
      margin: 1.5rem 0 4rem;

      @media (max-width: $mobile-width) {
        margin-bottom: 6rem;
      }
    }
  }
}
